[submodule "lib/open_wbo_ffi/open_wbo/logicng-open-wbo"]
	path = lib/open_wbo_ffi/open_wbo/logicng-open-wbo
	url = https://github.com/booleworks/logicng-open-wbo.git
[submodule "lib/sharp_sat_ffi/sharp_sat/sharpSAT"]
	path = lib/sharp_sat_ffi/sharp_sat/logicng-sharp-sat
	url = https://github.com/booleworks/logicng-sharp-sat.git